extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each obj in content
      li
        ul
          li= obj.address
          li= obj.city
          li= obj.country
          li= obj.coords[0]
          li= obj.coords[1]
